<div class="form-container">
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>Add New Product</mat-card-title>
    </mat-card-header>
    <mat-card-content class="form-content">
      <form class="example-form" [formGroup]="productForm">
        <mat-form-field class="example-full-width">
          <mat-label>Product Title</mat-label>
          <input
            formControlName="title"
            ngDefaultControl
            matInput
            placeholder="Add a Title"
          />
          <mat-error *ngIf="productForm.get('title')?.errors"
            >Title is required min 3 character max 150</mat-error
          >
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Price</mat-label>
          <input
            type="number"
            formControlName="price"
            matInput
            placeholder="Add a Price €"
          />
          <mat-error *ngIf="productForm.get('price')?.errors"
            >Price is required</mat-error
          >
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Category</mat-label>
          <input
            formControlName="category"
            matInput
            placeholder="Add a Category"
          />
          <mat-error *ngIf="productForm.get('category')?.errors"
            >Category is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Product Description</mat-label>
          <textarea
            formControlName="description"
            matInput
            placeholder="Add a Description"
          ></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width" *ngIf="employees$ | async">
          <mat-label>Employee</mat-label>
          <mat-select
            value=""
            name="employee"
            (selectionChange)="onSelectionEmployeeChange($event)"
          >
            <mat-option
              *ngFor="let employee of employees$ | async"
              [value]="employee"
            >
              {{ employee }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div formArrayName="reviews">
          <h3>Reviews</h3>
          <button mat-raised-button (click)="addReview()" class="btn-reviews">
            + Add another reviews
          </button>

          <div *ngFor="let review of reviews.controls; let i = index">
            <mat-form-field class="example-full-width">
              <mat-label>Reviews</mat-label>
              <input
                id="review-{{ i }}"
                [formControlName]="i"
                matInput
                placeholder="Add a Review"
              />
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions class="form-actions" style="margin-bottom: 8px">
      <button mat-stroked-button color="primary" (click)="onCancel()">
        Go Back
      </button>
      <button mat-raised-button class="btn" (click)="onSave()">
        Save Product
      </button>
    </mat-card-actions>
  </mat-card>
</div>
