<div class="product-list-container">
  <div class="card-container">
    <ng-container *ngIf="products">
      <div *ngFor="let product of products">
        <mat-accordion>
          <mat-expansion-panel
            class="list"
            style="margin-bottom: 8px"
            [expanded]="product.id === currentProduct?.id"
          >
            <mat-expansion-panel-header
              (click)="onCurrentProductSelected(product)"
            >
              <div class="list-header">
                <div class="category-container">
                  {{ product.category }}
                </div>
                <div class="text-container">
                  <p class="text-container-title">
                    {{ product.title }}
                  </p>
                  <p class="text-container-description">
                    {{ product.description }}
                  </p>
                </div>
                <div class="info-container">
                  <mat-icon
                    class="review-icon"
                    [matBadge]="product.reviews ? product.reviews.length : 0"
                    [matBadgeColor]="
                      product.reviews && product.reviews.length > 0
                        ? 'accent'
                        : 'primary'
                    "
                    >rate_review</mat-icon
                  >
                  <div class="price-container">
                    <h3>{{ product.price }} €</h3>
                  </div>
                  <div class="employee-container">
                    <h3>{{ product.employee }}</h3>
                  </div>
                </div>
              </div>
            </mat-expansion-panel-header>
            <div
              class="reviews-container"
              *ngIf="product.reviews && product.reviews.length > 0"
            >
              <p class="review-label">
                <span><mat-icon>rate_review</mat-icon></span> reviews
              </p>
              <div class="review" *ngFor="let review of product.reviews">
                <q>{{ review }}</q>
              </div>
            </div>
            <div class="list-actions">
              <button
                mat-stroked-button
                color="warn"
                (click)="deleteProduct(product.id)"
              >
                Delete Product
              </button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </ng-container>
  </div>
</div>
