<div class="product-list-container" *ngIf="!(isProductFormVisible$ | async)">
  <div *ngIf="!(areProductLoading$ | async)" class="btn-container">
    <mat-button-toggle-group
      #group="matButtonToggleGroup"
      [value]="showProductCard$ | async"
      (change)="onShowProductCardChange($event)"
    >
      <mat-button-toggle
        [checked]="!(showProductCard$ | async)"
        value="false"
        aria-label="Text align left"
      >
        <mat-icon>list</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle
        value="true"
        aria-label="Text align center"
        [checked]="showProductCard$ | async"
      >
        <mat-icon>grid_on</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <button
      mat-mini-fab
      color="accent"
      aria-label="Example icon button with a plus one icon"
      (click)="onNewProduct()"
    >
      <a mat-menu-item><mat-icon>add</mat-icon></a>
    </button>
  </div>

  <div class="card-container">
    <ng-container *ngIf="products$ | async as products">
      <div *ngFor="let product of products">
        <!-- <mat-card class="card card-list">
          <mat-card-header>
            <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
            <mat-card-title>{{ product.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="card card-body">
              <p>{{ product.description }}</p>
            </div>
            <p>{{ product.employee }}</p>
            <mat-divider></mat-divider>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Edit</button>
            <button mat-button color="error">Cancell</button>
          </mat-card-actions>
        </mat-card> -->
        <mat-accordion>
          <mat-expansion-panel class="list">
            <mat-expansion-panel-header
              (click)="onCurrentProductSelected(product)"
            >
              <div class="list-header">
                <div class="category-container">
                  {{ product.category }}
                </div>
                <div class="text-container">
                  <p class="text-container-title">
                    {{ product.title }}
                  </p>
                  <p class="text-container-description">
                    {{ product.description }}
                  </p>
                </div>
                <div class="info-container">
                  <mat-icon
                    class="review-icon"
                    [matBadge]="product.reviews ? product.reviews.length : 0"
                    [matBadgeColor]="
                      product.reviews && product.reviews.length > 0
                        ? 'accent'
                        : 'primary'
                    "
                    >rate_review</mat-icon
                  >
                  <div class="price-container">
                    <h3>{{ product.price }} €</h3>
                  </div>
                  <div class="employee-container">
                    <h3>{{ product.employee }}</h3>
                  </div>
                </div>
              </div>
            </mat-expansion-panel-header>
            <div
              class="reviews-container"
              *ngIf="product.reviews && product.reviews.length > 0"
            >
              <p class="review-label">
                <span><mat-icon>rate_review</mat-icon></span> reviews
              </p>
              <div class="review" *ngFor="let review of product.reviews">
                <q>{{ review }}</q>
              </div>
            </div>
            <div class="list-actions">
              <button
                mat-stroked-button
                color="warn"
                (click)="deleteProduct(product.id)"
              >
                Delete Product
              </button>
              <mat-progress-spinner
                *ngIf="areProductLoading$ | async"
                [color]="'secundary'"
                [mode]="'indeterminate'"
                [diameter]="30"
              >
              </mat-progress-spinner>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </ng-container>
  </div>
</div>

<div class="spinner-container" *ngIf="areProductLoading$ | async">
  <mat-progress-spinner
    [color]="'secundary'"
    [mode]="'indeterminate'"
    [diameter]="30"
  >
  </mat-progress-spinner>
</div>

<app-new-product *ngIf="isProductFormVisible$ | async"> </app-new-product>
