.product-container {
  width: 90%;
  margin: 25px auto;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.spinner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 50px;
}
