.card {
  &-container {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  &-item {
    min-width: 400px;
    flex-grow: 1;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-category {
    min-width: 100px;
    padding: 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(123, 31, 162, 0.4);
    border-radius: 5px;
    margin-right: 8px;
  }

  &-description {
    font-size: small;
  }

  &-employee {
    max-width: 100px;
    padding: 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(84, 107, 99, 0.6);
    border-radius: 10px;
    margin-right: 8px;
    h3 {
      margin: 0;
      font-size: small;
    }
  }

  &-body {
    margin-left: 16px;
  }

  &-price {
    min-width: 50px;
    padding: 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(83, 81, 84, 0.6);
    border-radius: 10px;
    margin-right: 8px;
    h3 {
      margin: 0;
    }
  }
}
