<div class="card-container">
  <ng-container *ngFor="let product of products">
    <mat-card class="card-item">
      <mat-card-header class="card-header">
        <mat-card-subtitle>
          <div class="card-info">
            <h3 class="card-price">{{ product.price }}€</h3>
            <p class="card-category">
              {{ product.category }}
            </p>
          </div>
        </mat-card-subtitle>
        <mat-card-title>{{ product.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="card-body">
          <p class="card-description">{{ product.description }}</p>
        </div>
        <div class="card-footer">
          <p class="card-employee">{{ product.employee }}</p>
          <div class="card-reviews">
            <mat-icon
              class="review-icon"
              [matBadge]="product.reviews ? product.reviews.length : 0"
              [matBadgeColor]="
                product.reviews && product.reviews.length > 0
                  ? 'accent'
                  : 'primary'
              "
              >rate_review</mat-icon
            >
            <button
              *ngIf="product.reviews && product.reviews.length > 0"
              mat-button
              color="accent"
              (click)="openAlertDialog(product)"
            >
              See the Review
            </button>
          </div>
        </div>

        <mat-divider style="margin-top: 5px"></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <div class="btn">
          <button
            mat-stroked-button
            color="warn"
            (click)="deleteProduct(product.id)"
          >
            Delete Product
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
